.Employecalender {
  width: 674px;
  height: 571px;

}

.main-addeventcontainer {
  width:1076px;
  height: 792px;
  border-radius: 9px;
  background: #FFFFFF;
  padding: 10px  10px;
  margin-top: 20px;
  border: 1px solid #CFCFCF
}

@media (min-width: 1920px) {
  .Employecalender {
    width: 1100px;
    height: 800px;

  }
  .main-addeventcontainer {
    width:97%;
   
  }

}