.popup-content {
    background-color: white;
    padding: 30px;
    width: 500
}
.approve-button, .reject-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}

.approve-button:hover {
    transform: scale(1.1);
}

.reject-button:hover {
    transform: scale(1.1);
}
